### Exercise #1 <br>
<p>Filter out all of the empty strings from the list below</p>

`Output: ['Argentina', 'San Diego', 'Boston', 'New York']`

In [7]:
places = [" ","Argentina", " ", "San Diego","","  ","","Boston","New York"]

In [22]:
list(filter(lambda place: False if place.strip()=="" else True,places))

['Argentina', 'San Diego', 'Boston', 'New York']

### Exercise #2 <br>
<p>Write an anonymous function that sorts this list by the last name...<br><b>Hint: Use the ".sort()" method or the "sorted()" function and access the key"</b></p>

`Output: ['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']`

In [43]:
author = ["Joel Carter", "Victor aNisimov", "Andrew P. Garfield","David hassELHOFF","Gary A.J. Bernstein"]

print(sorted(author, key=lambda last : last.split(" ")[-1].lower()))

['Victor aNisimov', 'Gary A.J. Bernstein', 'Joel Carter', 'Andrew P. Garfield', 'David hassELHOFF']

### Exercise #3 <br>
<p>Convert the list below from Celsius to Farhenheit, using the map function with a lambda...</p>

`Output: [('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

In [57]:
import itertools
places = [('Nashua',32),("Boston",12),("Los Angeles",44),("Miami",29)]

In [58]:
list(itertools.starmap(lambda place,f:(place,(9/5)*f+32), places))

[('Nashua', 89.6), ('Boston', 53.6), ('Los Angeles', 111.2), ('Miami', 84.2)]

### Exercise #4
Write a recursion function to perform the fibonacci sequence up to the number passed in.

Output for fib(5) => 
Iteration 0: 1
Iteration 1: 1
Iteration 2: 2
Iteration 3: 3
Iteration 4: 5
Iteration 5: 8

In [11]:
# recursive way 

def fib(n):
    
    if n<=1:
        return n
    return fib(n-1) + fib(n-2)


num = 10
for i in range(num):
    print(f'Iteration {i}: {fib(i)}')

Iteration 0: 0
Iteration 1: 1
Iteration 2: 1
Iteration 3: 2
Iteration 4: 3
Iteration 5: 5
Iteration 6: 8
Iteration 7: 13
Iteration 8: 21
Iteration 9: 34

In [27]:
def fib(n):
    c=0
    l1 = 0
    l2 = 1
    while c<n:
        if c == 0:
            yield 0
        elif c== 1:
            yield 1
        else:
            yield l1+l2
            l2, l1 = l1+l2, l2
        c+=1

x = 0
for i in fib(10):
    print(f'Iteration {x} : {i}')
    x+=1

Iteration 0 : 0
Iteration 1 : 1
Iteration 2 : 1
Iteration 3 : 2
Iteration 4 : 3
Iteration 5 : 5
Iteration 6 : 8
Iteration 7 : 13
Iteration 8 : 21
Iteration 9 : 34

### Exercise #5 <br>
<p>Create a generator that takes a number argument and yields that number squared, then prints each number squared until zero is reached.</p>

In [14]:
def squared(n):
    while n>=0:
        yield n**2
        n-=1
        
for s in squared(5):
    print(s)

25
16
9
4
1
0

In [16]:
# Recursion way

def squared(n):
    if n<0:
        return
    print(f'{n} : {n**2}')
    return squared(n-1)
          
squared(5)

5 : 25
4 : 16
3 : 9
2 : 4
1 : 1
0 : 0